################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreWithAngular2/wwwroot
/CoreWithAngular2/bin/Debug/netcoreapp1.0
/CoreWithAngular2/obj/Debug
